name: Build & Deploy All

on:
  push:
    branches:
      - main

jobs:

  mkdocs_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - run: python -m pip install --upgrade pip
      - run: pip install mkdocs mkdocs-material mkdocstrings

      - name: Build MkDocs site
        run: mkdocs build -f docs/mkdocs.yml

      - name: Deploy MkDocs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: /home/runner/work/NeuralNetworks/NeuralNetworks/docs/site